<div class="row">
    <div class="col-xs-12">
        <!-- <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">  --to be used as a reference
            <div class="form-group">
                <label for="cityName">City Name</label>
                <input type="text"
                id="cityName"
                class="form-control"
                ngModel 
                name="cityName">
            </div>
            

            <div class="form-group">
                <label for="temperature">Temperature</label>
                <input type="number"
                id="temperature"
                class="form-control"
                ngModel 
                name="temperature">
            </div>
            <button
          class="btn btn-primary"
          type="submit">Submit</button>
        </form> -->

<form #f="ngForm" class="appearance">
        <es-lookup 
        [placeholder]="'Type name of the city'"
        [lazyLoad] = "true"
        [query] = "onCitiesQuery"
        [displayField] = "'name'"
        [(ngModel)] = "city"
        name = "city"
        ></es-lookup>
</form>
    
      <div clas=”row”><b>Name: </b>{{city?.name}}</div>
      <div clas=”row”><b>Latitude: </b>{{ city?.coord.lat }} </div>
      <div clas=”row”><b>Longitude: </b>{{ city?.coord.lon }} </div>
      <div clas=”row”><b>Max temperature (°C): </b>{{ (city?.main.temp_max - 273.15).toFixed(2) }} </div>
      <div clas=”row”><b>Min temperature (°C): </b>{{ (city?.main.temp_min - 273.15).toFixed(2) }} </div>
      <div clas=”row”><b>Wind speed: </b>{{ city?.wind.speed }} </div>
    </div>
</div>

<!-- <button (click)="onSubmit()"
          class="btn btn-primary"
          type="submit">Submit</button> -->

          <es-button
          [text] = "'Add city to database'"
          (clicked) = "onSubmit()"
          [disabled] = "getCity()"
          ></es-button>


