<table>
  <tr>
    <th>City Name</th>
    <th>Weather</th>
    <th>Current Temperature</th>
  </tr>
  <tr *ngFor="let city of cities; index as i">
    <button (click)="city.visible = !city.visible">{{ city.name }}</button>
    <div class=”container” *ngIf="city.visible">
      <div clas=”row”><b>Latitude: </b>{{ city.coord.lat }} </div>
      <div clas=”row”><b>Longitude: </b>{{ city.coord.lon }} </div>
      <div clas=”row”><b>Max temperature (°C): </b>{{ (city.main.temp_max - 273.15).toFixed(2) }} </div>
      <div clas=”row”><b>Min temperature (°C): </b>{{ (city.main.temp_min - 273.15).toFixed(2) }} </div>
      <div clas=”row”><b>Wind speed: </b>{{ city.wind.speed }} </div>
  </div>
   <td>{{ city?.weather[0].main }}</td> 
  <td>{{ (city.main.temp - 273.15).toFixed(2) }}</td>
  </tr>
</table>
